# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Uploaded files
uploads/

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Database
*.db
*.sqlite
*.sqlite3